/* 1. Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* 2. Make nav sticky */
main > nav {
  position: sticky;
  top: 6rem;
  align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
  position: fixed;
  border-top: solid #972e3d;
  border-left: solid #972e3d;
  border-radius: 1em;
  background: #121212;
}
body {
  background-color: #0a0a0a !important;
  color: #ffffff;
  height: 240vh;
}

.content-a{
  display: flex;
  flex-direction: column;
  justify-content: center;

.secondary-a{
  text-align: center;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
p{
  text-align:justify;
  font-size: 18px;
}
}
#define-new-section{
  margin-top: 2rem;
}

#header{
  text-align: center;
}
ul{
  li{
    text-align: left;
  }
}
