header {
  height: 10vh;
  background-size: cover;
}
* {
  font-family: system-ui;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #972e3d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  /* position: fixed; */
  /* width: 100%; */
  line-height: 2rem;
}

nav ul {
  /*  height: 4em;
    line-height: 60px;*/
  list-style: none;
  background: #972e3d;
  overflow: hidden;
  color: #000000;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

a:hover {
  text-decoration: none;
  list-style: none;
  overflow: hidden;
  color: #ffffff;
}

nav.black ul {
  background: #000;
}
/* 
nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
} */

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

/* @media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #ffffff;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

} */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #972e3d;
  color: white;
}
