header {
  height: 10vh;
  background-size: cover;
}
* {
  font-family: system-ui;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  border-radius: 4p4x;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a0a0a;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222230;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(192, 189, 189, 0.61);
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  line-height: 2rem;
}

nav {
  ul {
  list-style: none;
  background: #972e3d;
  overflow: hidden;
  color: #000000;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}}

a:hover {
  text-decoration: none;
  list-style: none;
  overflow: hidden;
  color: #ffffff;
}

nav.black ul {
  background: 0;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: 0;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #0c0c0c;
  display: none;
}

.topnav {
  background-color: 0;
  overflow: hidden;
  position: fixed;
  border-radius: 5px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  filter: drop-shadow(2px -2px 2px white);
  color: black;
}


.head{
  display: flex;
  justify-content: center;
}

.navbtn {
  flex: 1 1 auto;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border-radius: 10px;
  background: #0a0a0a9e
 }

