* {
  font-family: system-ui;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

nav {
  position: fixed;
  line-height: 2rem;
  ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  line-height: 10px;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
  
h3{
  text-align: left;
  margin: 10px;
}
}
a:hover {
  text-decoration: none;
  list-style: none;
  overflow: hidden;
  color: #ffffff;
}

.topnav {
  background-color: 0;
  overflow: hidden;
  position: fixed;
  right: 16px;
  border-radius: 5px;
}

.topnav {

  a {
  color: #fff;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #f2f2f2;
}

}

@media screen and (max-width:992px){
  .topnav{
    top: 56px;
  }
}

.navbtn {
  flex: 1 1 auto;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border-radius: 10px;
  background: #0a0a0a9e
 }

 .navBar {  
  position: relative;
}
 
 .navBar button { 
   position: fixed;  
   left: 40px;  
   top: 40px; 
   z-index: 10; 
   cursor: pointer;
  }
 
 .menuNav { 
   overflow-y: scroll; 
   list-style: none; 
   position: fixed; 
   top: 0;
   background: #161818; 
   left: 0;  
   bottom: 0; 
   height: auto;  
  //  border-radius: 12px;
   width: 0;
   overflow: hidden; 
   max-width: 290px; 
   z-index: 9;
    }
 
 .menuNav.showMenu {  
   width: 100%;
}
 
 a { 
   display: block; 
   padding: 10px 40px;
   text-decoration: none;  
   color: #3fffd2;text-transform: 
   uppercase;
   font-weight: bold;
  }
 
.menuNav li:first-child {
  margin-top: 10rem ;
}
button{
  background-color: unset;
  border: unset;
  color: #fff;
}
}
#nv{
  margin: 12px;
}

#icon{
  margin: 12px;
  transform: rotate(45deg);
}

::-webkit-scrollbar-track {
    background-color: transparent;
  }
::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
  }
::-webkit-scrollbar-thumb {
    background-color: #222230;
  }


