body{
    height: 100vh;
}

h1{
    color: #da1a35;
    font-size: 2.8rem !important;
    font-weight: 800 !important;
}

p{
    color: #fff;
}

.container{
    position: relative;
    top: 32rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}