.sidenav{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0a0a0a;
    overflow-y: hidden;
    padding-top: 60px;
    transition: 0.5s;
    // cursor: pointer;
    #option{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 22px;
        color: #fff;
        display: block;
        transition: 0.3s;
    }
    a:hover{
        color: #f1f1f1;
    }
    @media screen and (max-height:450px){
        .sidenav{padding-top: 15px;}
         a{font-size:18px;}
      }
}
// .close{
//     position: absolute;
//     top: 0;
//     right: 25px;
//     font-size: 35px;
//     margin-left: 50px;
// }
.togg , .close{
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    position: fixed;
    top: 22px;
    left: 25px;
    font-size: 35px;
    margin-right: 50px;
}
#main{
    transition: margin-left .5s;
  }
  